.testi-img {
    position: relative;
    display: inline-block;
    width: 300px; // Adjust width as needed
    height: 300; // Adjust height as needed
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // Ensures the image covers the container without distortion
      border-radius: 50%; // Ensures the image remains circular
    }
  
    .quote-icon {
      position: absolute;
      top: 10px; // Adjust position as needed
      right: 10px; // Adjust position as needed
      font-size: 24px; // Adjust icon size as needed
    }
  }
  $background-color: #f7eff7;
$button-color: #c2567d;
$table-header-color: #8bc0bc;
$table-border-color: #6b3762;
$text-color: #e9ad7d;

.card-body {
  background-color: $background-color;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  button {
    background-color: $button-color;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($button-color, 10%);
    }
  }

  table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    color: $text-color;

    th, td {
      padding: 0.75rem;
      border: 1px solid $table-border-color;
    }

    thead {
      background-color: $table-header-color;
      color: white;

      th {
        text-align: left;
        font-weight: bold;
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: lighten($background-color, 10%);
        }
      }
    }
  }
}
.table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    
    thead {
      background-color: #6b3762;
      color: #f7eff7;
  
      th {
        padding: 0.5rem;
        text-align: left;
        border-bottom: 2px solid #c2567d;
      }
    }
  
    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f7eff7;
        }
        
        &:nth-child(odd) {
          background-color: #e9ad7d;
        }
  
        &:hover {
          background-color: #8bc0bc;
        }
  
        td {
          padding: 0.5rem;
          border-bottom: 1px solid #c2567d;
        }
      }
    }
  }
  .text-center {
    margin-bottom: 3rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h3 {
      font-family: 'Open Sans', sans-serif; // Use a modern font
      color: #c2567d; // Use one of your primary colors
      margin-bottom: 1rem;
      font-size: 1.75rem;
      font-weight: 700;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
  
    p {
      font-family: 'Open Sans', sans-serif;
      color: #6b3762;
      margin-top: 0.5rem;
      font-size: 1.1rem;
    }
  }
  
  
